* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background: lightblue;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  position: relative;
}

.text {
  margin-top: 20px;
  text-align: center;
  position: relative;
}


