* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a{
  display: flex;
  margin: auto;
  padding: 20px;
}

.sec1 a {
  color: navy;
}
.sec2 a {
  color: darkgreen;
}
.sec3 a {
  color: maroon;
}

.sec1 > a,
.sec2 > a,
.sec3 > a {
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(243, 156, 156);
}

nav a:active {
  color: orange;
}

nav a[href^="https"] {
  color: darkorange !important;
}
