* {
  margin: 0;
  padding: 0;
}

#main-title {
  font-size: 32px;
  color: darkblue;
  text-align: center;
}

#subtitle {
  font-size: 24px;
  color: darkgreen;
  /* text-align: center; */
}

p{
  padding: 14px;
  border: 1px solid red;
}